.v-switch {
  --v-switch-on-color: var(--v-color-primary);
  --v-switch-off-color: var(--v-border-color);
  --v-switch-on-border-color: var(--v-color-primary);
  --v-switch-off-border-color: var(--v-border-color);
}

.v-switch {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  height: 32px;
  .v-switch__input {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    &:focus-visible {
      & ~ .v-switch__core {
        outline: 2px solid var(--v-switch-on-color);
        outline-offset: 1px;
      }
    }
  }
  &.is-disabled {
    opacity: 0.6;
    .v-switch__core {
      cursor: not-allowed;
    }
  }
  &.is-checked {
    .v-switch__core {
      border-color: var(--v-switch-on-border-color);
      background-color: var(--v-switch-on-color);
      .v-switch__core-action {
        left: calc(100% - 17px);
      }
      .v-switch__core-inner {
        padding: 0 18px 0 4px;
      }
    }
  }
}
.v-switch__core {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 20px;
  min-width: 40px;
  border: 1px solid var(--v-switch-off-border-color);
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--v-switch-off-color);
  cursor: pointer;
  transition: border-color var(--v-transition-duration),
    background-color var(--v-transition-duration);
  .v-switch__core-action {
    position: absolute;
    left: 1px;
    border-radius: var(--v-border-radius-circle);
    width: 16px;
    height: 16px;
    background-color: var(--v-color-white);
    transition: all var(--v-transition-duration);
  }
  .v-switch__core-inner {
    width: 100%;
    transition: all var(--v-transition-duration);
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 4px 0 18px;
    .v-switch__core-inner-text {
      font-size: 12px;
      color: var(--v-color-white);
      user-select: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
